<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body ">
                <h2>Cartón de ejemplo</h2>
                <div class="bingo-card ">
                    <div class="row ">
                        <div class="cell title">B</div>
                        <div class="cell title">I</div>
                        <div class="cell title">N</div>
                        <div class="cell title">G</div>
                        <div class="cell title">O</div>
                    </div>
                    <div class="row">
                        <div (click)="onCellClicked1()" class="cell" [ngStyle]="{'background-color': isClicked1 ? '#470200' : 'white'}">1</div>
                        <div (click)="onCellClicked2()" class="cell" [ngStyle]="{'background-color': isClicked2 ? '#470200' : 'white'}">16</div>
                        <div (click)="onCellClicked3()" class="cell" [ngStyle]="{'background-color': isClicked3 ? '#470200' : 'white'}">31</div>
                        <div (click)="onCellClicked4()" class="cell" [ngStyle]="{'background-color': isClicked4 ? '#470200' : 'white'}">46</div>
                        <div (click)="onCellClicked5()" class="cell" [ngStyle]="{'background-color': isClicked5 ? '#470200' : 'white'}">61</div>
                    </div>
                    <div class="row">
                        <div (click)="onCellClicked6()" class="cell" [ngStyle]="{'background-color': isClicked6 ? '#470200' : 'white'}" >4</div>
                        <div (click)="onCellClicked7()" class="cell" [ngStyle]="{'background-color': isClicked7 ? '#470200' : 'white'}" >19</div>
                        <div (click)="onCellClicked8()" class="cell" [ngStyle]="{'background-color': isClicked8 ? '#470200' : 'white'}" >34</div>
                        <div (click)="onCellClicked9()" class="cell" [ngStyle]="{'background-color': isClicked9 ? '#470200' : 'white'}" >49</div>
                        <div (click)="onCellClicked10()" class="cell" [ngStyle]="{'background-color': isClicked10 ? '#470200' : 'white'}" >64</div>
                    </div>
                    <div class="row">
                        <div (click)="onCellClicked11()" class="cell" [ngStyle]="{'background-color': isClicked11 ? '#470200' : 'white'}" >11</div>
                        <div (click)="onCellClicked12()" class="cell" [ngStyle]="{'background-color': isClicked12 ? '#470200' : 'white'}" >26</div>
                        <div  class="cell selected"  ></div>
                        <div (click)="onCellClicked13()" class="cell" [ngStyle]="{'background-color': isClicked13 ? '#470200' : 'white'}" >56</div>
                        <div (click)="onCellClicked14()" class="cell" [ngStyle]="{'background-color': isClicked14 ? '#470200' : 'white'}" >74</div>
                    </div>
                    <div class="row">
                        <div (click)="onCellClicked15()" class="cell" [ngStyle]="{'background-color': isClicked15 ? '#470200' : 'white'}" >14</div>
                        <div (click)="onCellClicked16()" class="cell" [ngStyle]="{'background-color': isClicked16 ? '#470200' : 'white'}" >20</div>
                        <div (click)="onCellClicked17()" class="cell" [ngStyle]="{'background-color': isClicked17 ? '#470200' : 'white'}" >38</div>
                        <div (click)="onCellClicked18()" class="cell" [ngStyle]="{'background-color': isClicked18 ? '#470200' : 'white'}" >58</div>
                        <div (click)="onCellClicked19()" class="cell" [ngStyle]="{'background-color': isClicked19 ? '#470200' : 'white'}" >63</div>
                    </div>
                    <div class="row">
                        <div (click)="onCellClicked20()" class="cell" [ngStyle]="{'background-color': isClicked20 ? '#470200' : 'white'}" >15</div>
                        <div (click)="onCellClicked21()" class="cell" [ngStyle]="{'background-color': isClicked21 ? '#470200' : 'white'}" >30</div>
                        <div (click)="onCellClicked22()" class="cell" [ngStyle]="{'background-color': isClicked22 ? '#470200' : 'white'}" >45</div>
                        <div (click)="onCellClicked23()" class="cell" [ngStyle]="{'background-color': isClicked23 ? '#470200' : 'white'}" >60</div>
                        <div (click)="onCellClicked24()" class="cell" [ngStyle]="{'background-color': isClicked24 ? '#470200' : 'white'}" >75</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>