<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body ">
                <h2>Cartón de ejemplo</h2>
                <div class="bingo-card ">
                    <div class="row ">
                        <div class="cell title">B</div>
                        <div class="cell title">I</div>
                        <div class="cell title">N</div>
                        <div class="cell title">G</div>
                        <div class="cell title">O</div>
                    </div>
                    <div class="row">
                        <div class="cell ">1</div>
                        <div class="cell">16</div>
                        <div class="cell ">31</div>
                        <div class="cell">46</div>
                        <div class="cell ">61</div>
                    </div>
                    <div class="row">
                        <div class="cell">4</div>
                        <div class="cell ">19</div>
                        <div class="cell">34</div>
                        <div class="cell ">49</div>
                        <div class="cell">64</div>
                    </div>
                    <div class="row">
                        <div class="cell ">11</div>
                        <div class="cell">26</div>
                        <div class="cell selected"></div>
                        <div class="cell">56</div>
                        <div class="cell ">74</div>
                    </div>
                    <div class="row">
                        <div class="cell">14</div>
                        <div class="cell ">20</div>
                        <div class="cell">38</div>
                        <div class="cell ">58</div>
                        <div class="cell">63</div>
                    </div>
                    <div class="row">
                        <div class="cell ">15</div>
                        <div class="cell">30</div>
                        <div class="cell ">45</div>
                        <div class="cell">60</div>
                        <div class="cell ">75</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>